:root {
	--header_bg: #9AB4D7;
	--page_width: 860px;
	--gal_pad: 35px;
	--pic_border: 3px;
	--col: 3;
	--img_scale: 1.05;
	--desc_height: 40px;
	--icon_margin: 4px;
}
#gallery {
	margin: calc(2 * var(--pic_border));
	gap: 0px;
	columns: var(--col); 
	box-sizing: border_box;	
}
#gallery p:not(.year) {
	color: red;
}

.imgcont {
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
}

@keyframes clipPath {
	0%  {clip-path: inset(100% 0px 0px 0px);}
	15% {clip-path: inset(95% 0px 0px 0px);}
	95% {clip-path: inset(2% 0px 0px 0px);}
	100% {clip-path: inset(0% 0px 0px 0px);}
}

.desc {
	background: black;
	opacity: 1;
	will-change: transform;
	position: absolute;
	box-sizing: border-box;
	display: flex;
	pointer-events: none;
	clip-path: inset(40px 0px 0px 0px);
	left: 5px;
	bottom: 6.5px;
	height: var(--desc_height);
}

.icon {
	box-sizing: border-box;
	width: auto;
	height: calc(100% - 2 * var(--icon_margin));
	margin: var(--icon_margin);
	position: relative;
}

.title {
	font-family: "Courier New", monospace; 
	text-transform: uppercase;
}

.year {
	float: left;
}

#gallery p {
	display: inline;
	width: 100%;
	height: 100%;
	line-height: calc(var(--desc_height) / 4);
	padding-left: 10px;
	padding-right: 10px;
	color: gray;
}


#gallery img:not(.icon):hover {
	display:block;
	box-sizing: border-box;
  	transition-delay: 0s;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	outline: var(--pic_border) solid black; 
	outline-offset: calc(-1 * var(--pic_border) - 0.1px);
}

#gallery img:not(.icon) {
	vertical-align: bottom;
	box-sizing: border-box;
	border: var(--pic_border) solid rgba(255, 255, 255, 0);
	width: 100%;
}

#main {
	overflow: clip;
	width: var(--page_width);
	margin: 0 auto;
	background: #e3e3e3;
	border-radius:12px;
}

#header {
	line-height: 35px;
	font-family: Georgia;
	font-size: large;
	text-align: left;
	background: var(--header_bg);
	padding: 1px;
	padding-left : 40px;
	border-radius: 12px;
}	

#header h1 {
	float:left;
	display: inline-block;
}

#header h3 {
	font-family: Courier;
	padding-top:70px;
	display: flow;
	font-size: large;
	line-height: 0px;
	padding-bottom: 25px;
}

nav ul {
	padding-top:4px;
	float: right;
}

nav {
	display: inline;
	background-color: var(--header_bg);
	height: 35px;
}

nav li {
	list-style: none;
	float: right;
	width: 80px;
	height: 35px;
	background-color: var(--header_bg);
	text-align: center;
	border-left: 3px black solid;
	line-height: 35px;
}

nav li:hover {
	transform: translateY(-7px);
	transition-delay: 0s;
	transition-timing-function: ease;
	transition-duration: 0.2s;
}	

nav ul li a {
	color:#ffffff;
	text-decoration: none;
	display: block;
}

nav ul li a:hover {
	transition-delay: 0s;
	transition-timing-function: ease;
	transition-duration: 0.2s;
	
	background-color:#29336b;
	color:#F8F068;
}